.navbar {
  background-color: rgba(255, 255, 255, 0);
}
.navbar-brand {
  color: var(--le_colors_primary);
  font-weight: bold;
  font-size: 30px;
}
.nav-link:hover {
  color: var(--le_secondary_color) !important;
}
.navbar-brand:hover {
  color: var(--le_secondary_color) !important;
}
.nav-dropdown-item:hover {
  color: var(--le_secondary_color) !important;
}
.nav-dropdown-item .anticon:hover {
  color: var(--le_secondary_color) !important;
}
