.navbar-header {
  background-color: black;
  color: #1976d2;
}
.navbar-text {
  background-color: black;
  color: #1976d2;
  font-weight: bold;
}
#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: transparent;
}

a.fixed-link {
  font-size: 75px;
  bottom: 0;
  right: 0;
  position: fixed;
  color: #232b2b;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: transparent;
}
