.text-container {
  position: relative;
  z-index: 1;
}

.text-container h1 {
  color: white; /* Initial text color */
  mix-blend-mode: lighten; /* Blend mode to turn text white */
}
.navbar-header {
  background-color: black;
  color: #1976d2;
}
.navbar-text {
  background-color: black;
  color: #1976d2;
  font-weight: bold;
}
#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: transparent;
}
